
.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .mainpage{
    background-color: #FEFDF9;
    //height: 90vh;
    width: 90%;
    max-width: 1500px;

    .container {  display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1.1fr 0.9fr 0.4fr;
      gap: 0px 0px;
      grid-auto-flow: row;
      grid-template-areas:
        "Image-1 Image-1 News"
        "Bright-future Read-more News"
        "retro1 retro2 retro3"; 
      
    }
    
    .Image-1 { 
      grid-area: Image-1; 
      padding: 2.5%;;

      img{
        width: 100%;
      }
    }
    
    .News { 
      grid-area: News; 
      padding: 5%;
      
      .news_section{
        background-color: #00001A;
        width: 100%;
        height: 100%;

        .news_headline p{
          font-size: 3vw;
          color: #E4B05A;
          margin: 0;
          font-family: 'Inter', sans-serif;
          padding: 7%;
          font-weight: bold;
        }

        .news_article{
          
          .news_article_title{
            color: #FEFDF9;
            padding: 0 7% 2%;
            font-size: 1.3vw;
            font-family: 'Inter', sans-serif;
            font-weight: bold;
          }

          .news_article_content{
            color: #FEFDF9;
            font-size: 1.2vw;
            font-family: 'Inter', sans-serif;
            padding: 0 7%;
            line-height: 2;
          }

          .white_line{
            height: 0.8px;
            margin: 7%;
          }
        }

      }
    }
    
    .Bright-future { 
      grid-area: Bright-future; 
      padding: 5%;
    
      .Bright-future-textbox{
        p{
          font-family: "inter",sans-serif;
          color: #000013;
          font-weight: 800;
          font-size: 4.5vw;
          line-height: 0.9;
        }
      }
    }
    
    .Read-more { 
      grid-area: Read-more; 
      padding:5%;
      
      .Read-more-section{

        p {
          font-family: "Inter",sans-serif;
          font-size: 1.1vw;
          line-height: 1.4;
        }

        button{
          color: #FEFDF9;
          background-color: #F15D51;
          border: none;
          padding: 5% 9%;
          letter-spacing: 0.6vw;
          font-weight: 600;
          margin-top: 30%;
          font-size: 0.8vw;
        }

        button:hover{
          cursor: pointer;
          background-color: #00001A;
        }
      }

    }
    
    .retro1 { 
      grid-area: retro1;
      padding:5%;       
    }

    .retro2 { 
      grid-area: retro2; 
      padding:5%;   
    }

    .retro3 { 
      grid-area: retro3; 
      padding:5%;   
    }

    .retro-section{
      display: flex;

      .retro-section-image{
        img{
          width: 100%;
        }
      }

      .retro-section-text{
        display: flex;
        flex-direction: column;
        padding-left: 5%;
        justify-content: space-between;
        
        .grey-number{
          font-size: 2.6vw;
          color: #C5C3C8;
          font-weight: 700;
        }

        .headline{
          color: #00001A;
          font-size: 1.3vw;
          font-weight: 700;
        }

        .article{
          line-height: 1.6;
          letter-spacing: 1.4;
          font-size: 1vw;
        }

      }

    }
    

  }

}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

